

{% block style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('style.css') }}">

{% endblock %}


{% block body %}
    
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Create Account</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registeration</span>
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <button>Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in">
        <form method="post">
            <h1>Sign In</h1>
            
           
        

            <div class="social-icons">
                <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>

            <span>or use your email password</span>

            <input 
                type="email" 
                value="{{ last_username }}" 
                name="email" 
                id="inputEmail" 
                class="bg-transparent block mt-10 mx-auto border-b-2 w-1/5 h-20 text-2xl outline-none" 
                placeholder="Email"
                autocomplete="email" 
                required 
                autofocus
            >

            <input 
                type="password" 
                name="password" 
                id="inputPassword" 
                class="bg-transparent block mt-10 mx-auto border-b-2 w-1/5 h-20 text-2xl outline-none" 
                autocomplete="current-password" 
                placeholder="Password"
                required
            >
            
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <a href="#">Forget Your Password?</a>
            
            <input 
                type="hidden" 
                name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button 
                class="uppercase mt-15 bg-blue-500 text-gray-100 text-lg w-1/5 mt-10 font-extrabold py-4 px-8 rounded-3xl" 
                type="submit">
                Sign In
            </button>

        
        </form>
    </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    
                    <p>Don't you have an account?</p>
                    <button class="hidden" ><a href="/register" style=" color: white; " >Student Registration</a></button>
                    <button class="hidden" ><a href="/registerProf" style=" color: white; " >Creator Registration</a></button>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="{{ asset('script.js') }}"></script>

{% endblock %}
